:root{
    --grey: #717171;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li{
    list-style: none;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 
    "left-bar main" 1fr
    "footer footer" 80px /
    200px 1fr;
}
.main::-webkit-scrollbar {
    width: 6px;
}
.main::-webkit-scrollbar-track {
    background-color: #141923;
}
.main::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #5f5775;
}

/* MAIN */

.main{
    background-color: #141923;
    grid-area: main;
    overflow: auto;
    display: grid;
    grid-template-rows: 60px 60px 60px auto 90px 200px 90px 200px;
}
header{
    display: grid;
    justify-items: end;
    align-items: center;
    background-color: #0a0b13;
}
header p{
    width: 110px;
    color: white;
    place-self: end;
    align-self: center;
    margin-right: 80px;
    border: 1px solid white;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}
.recent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 190px));
    gap: 5px
}
.recent div{
    height: 230px;
    margin-left: 20px;
}
.recent h3, .created-playlist h3, .pop-playlist h3{
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 7px;
}
.recent p{
    color: var(--grey);
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}
.main ul{
    list-style: none;
    text-align: end;
}
.main li{
    display: inline;
    color: var(--grey);
    margin-right: 10px;
    font-variant: small-caps;
}
.main li:hover{
    border-bottom: solid 2px #adff2e;
    
}
.main h2{
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}
.create-for{
    margin-top: 10px;
}
.create-for p{
    margin-left: 20px;
    margin-top: 10px;
    color: var(--grey);
}
.created-playlist{
    display: grid;
    grid-template-columns: repeat(2, 190px);
}
.created-playlist div{
    gap: 5px;
    margin-left: 20px;
}
.pop-artist{
    margin-top: 10px;
}
.pop-artist p{
    margin-left: 20px;
    margin-top: 10px;
    color: var(--grey);
}
.pop-playlist{
    display: grid;
    grid-template-columns: repeat(2, 200px);
}
.pop-playlist div{
    gap: 5px;
    margin-left: 20px;
}
.pop-playlist img{
    border-radius: 50%;
    margin-left: 15px;
}



